
<style>
#dvMapLive{
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}
.slider-slide img {
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

</style>


<div id="main" ng-controller="LiveCtrl"  ng-init="getVehicles()">

<body>
<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>GPS and Camera (Live Mode)</h2>

	
<div id=vehicle1 ng-if="vehicleArr.length>1">
<label class = "item item-input item-select">
   <div class = "input-label">
      Select Vehicle
   </div>

   <select   ng-model="vehicleId" ng-change="showSelectValue(vehicleId)"  ><option  ng-repeat="vehicle in vehicleArr" value = {{vehicle}} >{{vehicle}}</option>
     </select>
</div> 

<div id=vehicle2 ng-if="vehicleArr.length==1">
   <center>Showing Data for Vehicle {{vehicleArr[0]}} </center>
	 </div> 	 
	 <div id=vehicle3 ng-if="vehicleArr.length==0">
   <center> You dont have permissions to view for any vehicle </center>  
	 </div> 
	 
</label>
	<BR/>


	

{{img_option}}
<div id=img_option ng-if="img_video_opton ==''">

<label class = "item item-input item-select">
   <div class = "input-label">
      Select Image/Video
   </div>
	
   <select ng-model="img_video_option" ng-change="setImgMode(img_video_option)" >
   <option selected>Image</option>
   <option>Video</option>
     </select>
</label>
</div> 


   
   <br/>
  
<center>   
   <button class="button button-energized" ng-click=getData() >
  Go Live
</button>
	<br/>
  {{errorMessage }}
   


{{GPSMessage }}
<div id="dvMapLive" style="width:90%; height:300px" class="row">
 
</div> 
       
 
 
{{ImageMessage}}
<BR/> 

<div id="imageDivLive" ng-if="img_video_option =='Image'">

  <img id="imageHolder" src="{{photos}}"  class="row"   style="width:90%;height:300px;"  >

		 
       
     
</div>


<div id="videoDiv" ng-if="img_video_option == 'Video'"> 
<video width="100%" height="250"  id="myVideo" controls autoplay >
    <source src=""   id="mp4Source" type="video/mp4">
  
</video>
</div>
<BR/>
<BR/>
<BR/>


	  </center>

</ion-content>
</ion-view>
</body>
</div>
