
<style>
#dvMapLive{
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}
.slider-slide img {
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

</style>


<body ng-controller="LiveCtrl">


<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>GPS and Camera (Live Mode)</h2>
	
<label class = "item item-input item-select">
   <div class = "input-label">
      Select Vehicle
   </div>
	
   <select ng-model="vehicleId" ng-change="showSelectValue(vehicleId)" ng-init="getVehicles()" ><option  ng-repeat="vehicle in vehicleArr" value = {{vehicle}} >{{vehicle}}</option>
     </select>
</label>

   
   <br/>
	<br/>
   
   
<center>

{{GPSMessage }}
<div id="dvMapLive" style="width:90%; height:300px" class="row">
 
</div> 
       
 
 
{{ImageMessage}}
<BR/> 

<div id="imageDivLive" >

  <img id="imageHolder" src="{{photos}}"  class="row"   style="width:90%;height:300px;"  >

		 
       
     
</div>
	  </center>

</ion-content>
</ion-view>
</body>
