
<script type='text/javascript'>
<style>
#dvMapSpecific {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}
.slider-slide img {
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

</style>

<html>
<body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 
<ion-view view-title="Show Videos">
  <ion-content class="padding">
  
  <form>
  
    <h2>Videos  (Specific Mode) </h2>

	<div id="main" ng-controller="videoCtrl">
	
<label class = "item item-input item-select">
   <div class = "input-label">
      Select Vehicle
   </div>
	
   <select ng-model="vehicleId" ng-change="showSelectValue(vehicleId)" ng-init="getVehicles()" ><option  ng-repeat="vehicle in vehicleArr" value = {{vehicle}} >{{vehicle}}</option>
     </select>
</label>

   
   <br/>
	<br/>
   
   
<center>



<div class="item item-icon-left" ion-datetime-picker date ng-model="forDate">
                <i class="icon ion-ios-calendar positive"></i>
                Select the Date :
                <strong>{{forDate| date: "dd-MM-yyyy"}}</strong>
            </div>
			
			<div class="item item-icon-left" ion-datetime-picker time ng-model="fromTime">
                <i class="icon ion-ios-clock positive"></i>
                Select From Time :
                <strong>{{fromTime| date: "H:mm"}}</strong>
            </div>
			
			<div class="item item-icon-left" ion-datetime-picker time ng-model="toTime">
                <i class="icon ion-ios-clock positive"></i>
                Select To Time :
                <strong>{{toTime| date: "H:mm"}}</strong>
            </div>
 <br/>
 
		<button class="button button-energized" ng-click=getData() >
  Get Data
</button>
<br>

 {{errorMessage}} 




<center>
<video width="256" height="192"  id="myVideo" controls autoplay >
    <source src=""   id="mp4Source" type="video/mp4">
  
</video>

    
<BR/> 

<p class="assertive">  {{videoMessage}}</p>  <br/>


</center>


			
</div>
         
		 
       
     


</div>

	  </center>
</form> 

</ion-content>
</ion-view>
</body>
</html>

