
<script type='text/javascript'>
   var count=1;
   var player=document.getElementById('myVideo');
   var mp4Vid = document.getElementById('mp4Source');
   player.addEventListener('ended',myHandler,false);

   function myHandler(e)
   {

      if(!e) 
      {
         e = window.event; 
      }
      count++;
      $(mp4Vid).attr('src', "video/video"+count+".mp4");
      player.load();
      player.play();
   }

</script>


   
      <ion-view title="Welcome">
        <ion-content padding="true" overflow-scroll="true">
		
		<video width="256" height="192"  id="myVideo" controls autoplay>
		<source src= "https://www.youtube.com/watch?v=aQL2OSLKtp0"   id="mp4Source" type="video/mp4">
    Your browser does not support the video tag.
</video>

showing {{videos[0]}}
	
	
			


		
		
		
	
        </ion-content>
      </ion-view>
		

	
	
	 
				

        <ion-content padding="true" overflow-scroll="true">
          <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="https://www.youtube.com/watch?v=aQL2OSLKtp0" type="video/mp4"/></video>
        </ion-content>
      </ion-view>/></video>
        </ion-content>
      </ion-view>

