


<style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #dvMapSpecific {
  width: 100%;
  height: 100%;
}


</style>


<body>



<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>GPS and Camera (Specific Mode) </h2>

	<div id="main" ng-controller="DashCtrl" ng-init="getVehicles()">

	
	
<div id=vehicle1 ng-if="vehicleArr.length>1">
<label class = "item item-input item-select">
   <div class = "input-label">
      Select Vehicle
   </div>

   <select   ng-model="vehicleId" ng-change="showSelectValue(vehicleId)"  ><option  ng-repeat="vehicle in vehicleArr" value = {{vehicle}} >{{vehicle}}</option>
     </select>
</div> 

<div id=vehicle2 ng-if="vehicleArr.length==1">
   <center>Showing Data for Vehicle {{vehicleArr[0]}} </center>
	 </div> 	 
	 <div id=vehicle3 ng-if="vehicleArr.length==0">
   <center> You dont have permissions to view for any vehicle </center>  
	 </div> 
	 
</label>
	<BR/>

<div id=img_option ng-if="img_video_opton ==''"> 
option is 	{{img_video_option}}
<label class = "item item-input item-select">
   <div class = "input-label">
      Select Image/Video
   </div>
	
   <select ng-model="img_video_option" ng-change="setImgMode(img_video_option)"  >
   <option>Image</option>
   <option ng-selected="selected">Video</option>
     </select>
</label>

</div> 
   
   <br/>
	<br/>
   
   
<center>

<div id="timerange" ng-controller="DashCtrl">

<div class="item item-icon-left" ion-datetime-picker date ng-model="forDate">
                <i class="icon ion-ios-calendar positive"></i>
                Select the Date :
                <strong>{{forDate| date: "dd-MM-yyyy"}}</strong>
            </div>
			
			<div class="item item-icon-left" ion-datetime-picker time ng-model="fromTime">
                <i class="icon ion-ios-clock positive"></i>
                Select From Time :
                <strong>{{fromTime| date: "H:mm"}}</strong>
            </div>
			
			<div class="item item-icon-left" ion-datetime-picker time ng-model="toTime">
                <i class="icon ion-ios-clock positive"></i>
                Select To Time :
                <strong>{{toTime| date: "H:mm"}}</strong>
            </div>
 <br/>
 
		<button class="button button-energized" ng-click=getData() >
  Get Data
</button>


<br>

 {{errorMessage}} 

{{GPSMessage}}




<div id="dvMapSpecific" style="width:100%; height:400px" class="row">

</div> 
       
<BR/>
<BR/>
 


{{ImageMessage}} 

<div id="imageDivSpecific" ng-if="img_video_option == 'Image'" >

   

   
 <div id=imgmessage ng-if="mode == 'specific' && photos.length >0 "> 



</div> 


<button id="prevButton" class="button button-small" ng-Click="showPrev()" ng-if="mode == 'specific'">
   <<
</button>


  <img id="imageHolder" src="{{photos[img_counter].src}}"  class="row"   style="width:90%;height:300px;"  >
	<button id="nextButton" class="button button-small" ng-Click="showNext()"  ng-if="mode == 'specific'" >
   >>
</button>
		 
			
</div>

<div id="videoDiv" ng-if="img_video_option == 'Video'"> 
<video width="100%" height="300px"  id="myVideo" controls autoplay >
    <source src=""   id="mp4Source" type="video/mp4">
  
</video>
</div> 

    
<BR/> 

<p class="assertive">  {{videoMessage}}</p>  <br/>
<BR/>

		 
       
     

</div
</div>

	  </center>

</ion-content>
</ion-view>
</body>
