<body ng-controller="DashCtrl"> 

<div class="item item-icon-left" ion-datetime-picker date ng-model="forDate">
                <i class="icon ion-ios-calendar positive"></i>
                Select the Date :
                <strong>{{forDate| date: "dd-MM-yyyy"}}</strong>
            </div>
			
			<div class="item item-icon-left" ion-datetime-picker time ng-model="fromTime">
                <i class="icon ion-ios-clock positive"></i>
                Select From Time :
                <strong>{{fromTime| date: "H:mm"}}</strong>
            </div>
			
			<div class="item item-icon-left" ion-datetime-picker time ng-model="toTime">
                <i class="icon ion-ios-clock positive"></i>
                Select To Time :
                <strong>{{toTime| date: "H:mm"}}</strong>
            </div>
 <br/>
 
		<button class="button button-energized" ng-click=getData() >
  Get Data
</button>
<br>

Error Message 
{{errorMessage}}

<div id="dvMap" style="width:90%; height:300px" class="row">
</div> 



<br/>
{{ ImageMessage}}        
 
 

<div id="imageDiv"  >

     
 <div id=imgmessage ng-if="mode == 'specific' && photos.length >0 ">       
 Showing image <b>{{img_counter +1 }} </b> of <b> {{ photos.length}} </b> <br/>
</div> 


<button id="prevButton" class="button button-small" ng-Click="showPrev()" ng-if="mode == 'specific'">
   <<
</button>


  <img id="imageHolder" src="{{photos[img_counter].src}}"  class="row"   style="width:90%;height:300px;"  >
	<button id="nextButton" class="button button-small" ng-Click="showNext()"  ng-if="mode == 'specific'" >
   >>
</button>
		 
			

         
		 
       
     
      </div>
	  </center>

</ion-content>
</ion-view>
</body>
